name: build

on:
  push:
    branches:
      - '*'
      - '!master'
  pull_request:
    branches:
      - '*'

jobs:
  compile:
    strategy:
      matrix:
        os: [ ubuntu-22.04, windows-latest ]
        arch: [ x86, x64, arm, arm64 ]
        exclude:
          - os: windows-latest
            arch: arm
    
    name: Compile ${{matrix.os}}-${{matrix.arch}}
    runs-on: ${{matrix.os}}
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install dependencies
        if: startsWith(matrix.os, 'ubuntu')
        run: sudo ./build/linux/${{matrix.arch}}/setup.sh

      - name: Set up MSVC
        if: startsWith(matrix.os, 'windows')
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.arch }}

      - name: Compile
        if: startsWith(matrix.os, 'ubuntu')
        run: ./build/linux/build.sh ${{matrix.arch}}

      - name: Compile
        if: startsWith(matrix.os, 'windows')
        run: ./build/win/build.ps1 ${{matrix.arch}}

      - name: Gather build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: lua52-${{matrix.os}}-${{matrix.arch}}
          path: KeraLua/runtimes/
  
  build-net:
    
    runs-on: windows-latest
    needs: compile
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          path: KeraLua/runtimes/
          pattern: 'lua52-*'
          merge-multiple: 'true'

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.x
          config-file: nuget.config
          source-url: https://nuget.pkg.github.com/Buerkert/index.json
        env:
          NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Build with dotnet
        run: dotnet build -c Release

      - name: Run unit tests
        run: dotnet test

      - name: Pack
        run: dotnet pack -c Release -o package

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: KeraLua
          path: package/*nupkg